@font-face {
  font-family: 'Nunito Sans';
  font-style:  normal;
  font-weight: 400;
  font-display: swap;
  src: url('./NunitoSans-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Nunito Sans';
  font-style:  normal;
  font-weight: 700;
  font-display: swap;
  src: url('./NunitoSans-Bold.woff2') format('woff2');
}