:root {
  --toastify-color-light: #fff;
  --toastify-color-dark: #181818 !important;
  --toastify-color-info: #3498db !important;
  --toastify-color-success: #60ee90 !important;
  --toastify-color-warning: #f1c40f !important;
  --toastify-color-error: #e74c3c !important;
}



::-webkit-scrollbar {
  @apply bg-gray-200 w-5px h-5px;
}
::-webkit-scrollbar-thumb {
  @apply rounded-xl transition bg-gray-400;
}
::-webkit-scrollbar-track {
  @apply rounded-xl bg-transparent;
}

html.dark {
::-webkit-scrollbar {
  @apply bg-dark-5 w-5px h-5px;
}
::-webkit-scrollbar-thumb {
  @apply rounded-xl transition bg-dark-1;
}
::-webkit-scrollbar-track {
  @apply rounded-xl bg-transparent;
}
.Toastify__toast {
  border: 1px solid #555;
}
}
  
